.jalousie-plugin {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  //&:after {
  //  content: "";
  //  display: block;
  //  width: 0;
  //  height: 0;
  //  margin-left: -500px;
  //  border-bottom: 500px solid transparent;
  //  border-left: 500px solid #EFEFEF;
  //}

  .start-icon, .end-icon {
    color: #888888;
  }

  .textColor {
    color: #333333 !important;
  }

  .jalousie-preview {
    position: relative;
    //display: block;
    //width: 100%;
    height: 300px;

    .jalousie-overlay {
      position: absolute;
      z-index: 999;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      color: rgba(80, 80, 80, 0.50) !important;
      transform: none !important;
      background: rgba(0, 0, 0, 0) !important;

      .value {
        font-size: 4rem;
      }

      .unit {
        font-size: 3rem;
      }
    }

    .jalousie-slat {
      position: relative;
      height: 25px;
      transform: skew(15deg, 0deg);
      //border-top: 1px solid rgba(0, 0, 0, .1);
      border: 0.5px solid #CCCCCC;
      border-radius: 2px;
      background-image: none !important;
      //background-color: white;
      background-image: -ms-linear-gradient(bottom, #F8F8F8 0%, #E0E0E0 100%) !important;
      background-image: -moz-linear-gradient(bottom, #F8F8F8 0%, #E0E0E0 100%) !important;
      background-image: -o-linear-gradient(bottom, #F8F8F8 0%, #E0E0E0 100%) !important;
      background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #F8F8F8), color-stop(100, #E0E0E0));
      background-image: -webkit-linear-gradient(bottom, #F8F8F8 0%, #E0E0E0 100%) !important;
      background-image: linear-gradient(to top, #F8F8F8 0%, #E0E0E0 100%) !important;

      //background-image: -ms-linear-gradient(bottom, #F8F8F8 0%, #BBBBBB 100%);
      //background-image: -moz-linear-gradient(bottom, #F8F8F8 0%, #BBBBBB 100%);
      //background-image: -o-linear-gradient(bottom, #F8F8F8 0%, #BBBBBB 100%);
      //background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #F8F8F8), color-stop(100, #BBBBBB));
      //background-image: -webkit-linear-gradient(bottom, #F8F8F8 0%, #BBBBBB 100%);
      //background-image: linear-gradient(to top, #F8F8F8 0%, #BBBBBB 100%);

      &:first-child {
        margin-top: 0 !important;
      }
    }
  }

  .md-button.md-fab md-icon {
    color: #333333;
  }

  //.md-button.md-fab:not([disabled]):active, .md-button.md-fab:not([disabled]):focus {
  //  background-color: #1c4d75 !important;
  //  color: #FFFFFF !important;
  //  border: none !important;
  //}

  .md-button.md-fab:not([disabled]):active md-icon, .md-button.md-fab:not([disabled]):focus md-icon {
    color: #FFFFFF !important;
  }

}
