@import "normalize.css";
.text {
  font-size: 13px;
  line-height: 16px;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  display: block;
}
/* Plugins */
.plugin-wrapper {
  position: relative;
  background: #fff;
  border-top: 1px solid grey;
  overflow: hidden;
}
.plugin-wrapper > .title {
  font-size: 13px;
  line-height: 16px;
  display: inline-block;
  font-weight: bold;
  padding: 2px;
  margin-left: 15px;
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
  background-color: grey;
  color: white;
  text-transform: uppercase;
}
/* Slider with icons */
.slider-with-icons {
  display: flex;
}
.slider-with-icons .start-icon,
.slider-with-icons .end-icon {
  width: 50px;
  line-height: 48px;
  text-align: center;
  font-size: 20px;
  color: #549cd6;
}
.slider-with-icons .md-track {
  background: rgba(0, 0, 0, 0.1);
}
.slider-with-icons md-slider.md-default-theme .md-thumb:after,
.slider-with-icons md-slider .md-thumb:after {
  border-color: #000;
  background-color: #000;
}
.slider-with-icons md-slider.md-default-theme .md-track.md-track-fill,
.slider-with-icons md-slider .md-track.md-track-fill {
  background: #000;
}
.slider-with-icons .slider {
  flex-grow: 1;
}
.thermostat-plugin {
  /* start tooltip styles */
  /*
  .rs-tooltip-text:before {
    position: absolute;
    left: 3px;
    top: -11px;
    content: 'HEATING';
    font-size: 12px;
  }
  */
  /* end tooltip styles */
  /* start slider styles */
}
.thermostat-plugin .flexContainer {
  width: 400px;
  height: 260px;
  background: white;
}
.thermostat-plugin .flexHeader {
  padding: 10px;
  background: #333333;
  color: white;
}
.thermostat-plugin .flexHeader .icon {
  float: left;
  font-size: 1.4em;
}
.thermostat-plugin .flexHeader .heading {
  float: left;
  margin-left: 10px;
  font-size: 1.2em;
}
.thermostat-plugin .flexContent {
  padding: 10px;
  background: white;
}
.thermostat-plugin .rs-tooltip-text {
  font-family: 'Titillium Web', sans-serif;
  pointer-events: none;
  transition: background 0.02s ease-in-out;
  transform: translateY(24px);
  color: #fff;
}
.thermostat-plugin .rs-tooltip-text .setpoint {
  font-size: 2.4em;
  color: black;
}
.thermostat-plugin .rs-tooltip-text .temperature {
  margin-top: -6px;
  font-size: 1.4em;
  color: grey;
}
.thermostat-plugin .rs-tooltip-text .state {
  margin-top: 22px;
  font-size: 1.4em;
  color: black;
}
.thermostat-plugin .rs-tooltip-text .state .neutral {
  visibility: hidden;
}
.thermostat-plugin #slider::before,
.thermostat-plugin #slider::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 220px;
  height: 220px;
  background: #FFFFFF;
  border-radius: 50%;
  z-index: 1;
}
.thermostat-plugin #slider::after {
  z-index: 2;
  box-shadow: inset 0 0 5px #FFFFFF;
}
.thermostat-plugin #animation1.rs-animation .rs-transition {
  transition: all 0.1s ease-in-out;
}
.thermostat-plugin .rs-gradient,
.thermostat-plugin .rs-gradient:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 170px;
  height: 170px;
  border-radius: 50%;
  z-index: 3;
  opacity: 0.8;
}
.thermostat-plugin .rs-gradient:after {
  background: linear-gradient(0, #ffffff, #dcdcdc);
}
.thermostat-plugin .rs-range-color {
  background: #444444;
  transition: background 0.04s ease-in-out;
}
.thermostat-plugin .rs-border {
  box-shadow: inset 0 0px 4px rgba(200, 200, 200, 0.3);
}
.thermostat-plugin .rs-seperator {
  border: none;
}
.thermostat-plugin .rs-border,
.thermostat-plugin .rs-bg-color {
  background: #FFFFFF;
}
.thermostat-plugin .rs-handle {
  border: none;
  background: none;
  width: 60px;
  height: 60px;
}
.thermostat-plugin .rs-handle::after {
  background: #fff;
  border-radius: 0;
  border: none;
  height: 1px;
  width: 14px;
  margin: 8px 0 0 3px;
}
.thermostat-plugin .rs-handle.rs-move {
  cursor: -webkit-grab;
  cursor: -moz-grab;
}
.thermostat-plugin .growAnimation {
  animation-name: grow;
  -webkit-animation-name: grow;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}
@keyframes grow {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes grow {
  0% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
.jalousie-plugin {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.jalousie-plugin .start-icon,
.jalousie-plugin .end-icon {
  color: #888888;
}
.jalousie-plugin .jalousie-preview {
  position: relative;
  height: 300px;
}
.jalousie-plugin .jalousie-preview .jalousie-overlay {
  position: absolute;
  z-index: 999;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  color: rgba(80, 80, 80, 0.35) !important;
  transform: none !important;
  background: rgba(0, 0, 0, 0) !important;
}
.jalousie-plugin .jalousie-preview .jalousie-overlay .value {
  font-size: 5rem;
}
.jalousie-plugin .jalousie-preview .jalousie-overlay .unit {
  font-size: 2rem;
}
.jalousie-plugin .jalousie-preview .jalousie-slat {
  position: relative;
  height: 25px;
  transform: skew(15deg, 0deg);
  border: 0.5px solid #CCCCCC;
  border-radius: 2px;
  background-image: none !important;
  background-image: -ms-linear-gradient(bottom, #F8F8F8 0%, #E0E0E0 100%) !important;
  background-image: -moz-linear-gradient(bottom, #F8F8F8 0%, #E0E0E0 100%) !important;
  background-image: -o-linear-gradient(bottom, #F8F8F8 0%, #E0E0E0 100%) !important;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #F8F8F8), color-stop(100, #E0E0E0));
  background-image: -webkit-linear-gradient(bottom, #F8F8F8 0%, #E0E0E0 100%) !important;
  background-image: linear-gradient(to top, #F8F8F8 0%, #E0E0E0 100%) !important;
}
.jalousie-plugin .jalousie-preview .jalousie-slat:first-child {
  margin-top: 0 !important;
}
.motion-sensor-plugin .notOccupied {
  font-size: 4rem !important;
  color: lightgrey !important;
}
.motion-sensor-plugin .occupied {
  font-size: 4rem !important;
  color: red !important;
}
.motion-sensor-plugin .motion {
  animation-name: motionPulse;
  -webkit-animation-name: motionPulse;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@keyframes motionPulse {
  0% {
    opacity: 1.0;
    transform: scale(0.8);
  }
  50% {
    opacity: 0.3;
    transform: scale(1.2);
  }
  100% {
    opacity: 1.0;
    transform: scale(0.8);
  }
}
@-webkit-keyframes motionPulse {
  0% {
    opacity: 1.0;
    transform: scale(0.8);
  }
  50% {
    opacity: 0.3;
    transform: scale(1.2);
  }
  100% {
    opacity: 1.0;
    transform: scale(0.8);
  }
}
light-plugin .on {
  background-color: #FFFFFF;
  color: yellow !important;
}
light-plugin .off {
  background-color: #DDDDDD;
  color: #B3B3B1 !important;
}
.temperature-sensor-plugin {
  font-size: 40px !important;
}
