.thermostat {
  &.heating {
    background: url("/test/images/heating-background.jpg") no-repeat;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  &.cooling {
    background: url("/test/images/cooling-background.jpg") no-repeat;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  @media only screen and (max-width: 600px) {
    .setpoint {
      font-size: 4rem;
      color: black;
    }

    .temperature {
      margin-top: -6px;
      font-size: 3rem;
      color: grey;
    }
  }

  @media only screen and (min-width: 600px) {
    .setpoint {
      font-size: 5em;
      color: black;
    }

    .temperature {
      margin-top: -6px;
      font-size: 4rem;
      color: grey;
    }
  }

  /*
  .rs-tooltip-text:before {
    position: absolute;
    left: 3px;
    top: -11px;
    content: 'HEATING';
    font-size: 12px;
  }
  */

  /* end tooltip styles */

  /* start slider styles */

  #slider {
    width: 220px !important;
    height: 220px !important;
  }

  .rs-control .rs-range-color,
  .rs-control .rs-bg-color {
    background-color: transparent !important;
  }

  .rs-control .rs-path-color {
    background-color: transparent !important;
  }

  .rs-control .rs-handle {
    background-color: #666666;
  }

  .rs-control circle.path-bg {
    //stroke: #1f3664;
  }

  .rs-control circle.range-bg {
    stroke: #02b4ff;
  }

  .rs-control .rs-border {
    background-color: rgba(158, 158, 158, 0.2) !important;
    border-color: transparent !important;
  }

  .growAnimation {
    animation-name: grow;
    -webkit-animation-name: grow;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
  }

  @keyframes grow {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }

  @-webkit-keyframes grow {
    0% {
      -webkit-transform: scale(0);
    }
    50% {
      -webkit-transform: scale(1.5);
    }
    100% {
      -webkit-transform: scale(1);
    }
  }
}
