.thermostat {
  .growAnimation {
    animation-name: grow;
    -webkit-animation-name: grow;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
  }

  @keyframes grow {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(2);
    }
    100% {
      transform: scale(1);
    }
  }

  @-webkit-keyframes grow {
    0% {
      -webkit-transform: scale(0);
    }
    50% {
      -webkit-transform: scale(2);
    }
    100% {
      -webkit-transform: scale(1);
    }
  }
}
