<div class="bacnet-component">
  <table>
    <tr>
      <td class="title">Name:</td>
      <td class="value">{{vm.bacnetData.name}}</td>
    </tr>
    <tr>
      <td class="title">Description:</td>
      <td class="value">{{vm.bacnetData.description}}</td>
    </tr>
    <tr>
      <td class="title">Vendor:</td>
      <td class="value">{{vm.bacnetData.vendor}}</td>
    </tr>
    <tr>
      <td class="title">Model:</td>
      <td class="value">{{vm.bacnetData.model}}</td>
    </tr>
    <tr>
      <td class="title">Software Version:</td>
      <td class="value">{{vm.bacnetData.softwareVersion}}</td>
    </tr>
  </table>
</div>
