<div class="jalousie-plugin">
  <div class="jalousie-preview">
    <div ng-repeat="slat in vm.slats" ng-style="vm.slats[{{$index}}].state"></div>
  </div>
  <div class="controls">
    <div class="slider-with-icons">
      <div class="start-icon"><span class="icon-arrow-bottom"></span></div>
      <div class="slider">
        <md-slider-container>
            <md-slider flex md-discrete min="0" max="100" aria-label="red" ng-model="vm.state.percentage" ng-change="vm.onPercentageChange()"></md-slider>
        </md-slider-container>
      </div>
      <div class="end-icon"><span class="icon-arrow-top"></span></div>
    </div>
    <div class="slider-with-icons">
      <div class="start-icon"><span class="icon-angle-bottom"></span></div>
      <div class="slider">
        <md-slider-container>
            <md-slider flex md-discrete step="10" min="0" max="100" aria-label="red" ng-model="vm.state.rotation" ng-change="vm.onRotationChange()" class="md-primary"></md-slider>
        </md-slider-container>
      </div>
      <div class="end-icon"><span class="icon-angle-top"></span></div>
    </div>
  </div>
</div>
