<div class="jalousie-plugin flexGrow1 flexLayout flexAlignCenter padding2 ">
    <div class="jalousie-preview flexGrow1">
        <div class="jalousie-overlay flexLayout flexAlignCenter flexJustifyCenter" style="padding-top: 2rem;">
            <div class="flexLayout flexAlignCenter">
                <div class="percentage flexLayout flexAlignCenter"></div>
                <div class="marginLeft2 rotation flexLayout flexAlignCenter"></div>
            </div>
        </div>
    </div>
    <div class=" marginLeft2 flexLayout flexDirectionColumn">
        <a id="upButton"><i class="fontSize2_5 sl-arrow-57"></i></a>
        <a id="stopButton"><i class="fontSize2_5 sl-stop-1"></i></a>
        <a id="downButton"><i class="fontSize2_5 sl-arrow-58"></i></a>
    </div>
</div>
