<div class="thermostat thermostat-plugin"
     ng-mousedown="vm.mouseDown($event)"
     ng-mouseup="vm.mouseUp()"
     ng-mousemove="vm.mouseMove($event)"
     ng-mouseleave="vm.mouseLeave()"
     ng-class="{heat: vm.thermostatData.isHeat, cool: vm.thermostatData.isCool}">
  <div class="setpoint"><span ng-class="{negative: vm.thermostatData.isNegative}">{{vm.state.setpoint | abs | number:1}}</span></div>
  <svg class="pointer" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="6px" height="18px" viewBox="0 0 6 18" enable-background="new 0 0 6 18" xml:space="preserve"><polygon points="0,0 6,0 3,18 0,0 "/></svg>
  <div class="scale" ng-style="{ left: vm.primaryScaleStyle.left + 'px' }">
    <div class="odds" ng-style="{ left: vm.smallScaleStyle.left + 'px', width: vm.smallScaleStyle.width + 'px' }">
        <div class="current-temperature">{{vm.state.temperature | number:1}}</div>
    </div>
  </div>
</div>
